<header class='navbar navbar-inverse'>

	<div class='container'>
		<%= link_to "Rails Security Sample", root_path, id: 'logo' %>
		<nav>
			<ul class='nav navbar-nav navbar-right'>
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "About", about_path %></li>
				<li><%= link_to "Feed", posts_path %></li>
				<% if !logged_in? %>
					<li><%= link_to "Login", login_path %></li>
				<% else %>
					<li><%= link_to current_user.name, user_path(current_user) %></li>
					<li><%= link_to "Logout", logout_path, method: :delete %></li>
				<% end %>
			</ul>
		</nav>
	</div>

</header>